
@font-face {
    font-family: 'krinkes_decor_personal_useRg';
    src: url('../font/webfontkit-20170227-142530/krinkesdecorpersonal-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20170227-142530/krinkesdecorpersonal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../font/webfontkit-20170227-144833/lato-regular-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20170227-144833/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
body {
    margin: 0;
    padding: 0;
    width: 1450px;
    height: 4500px;
}

.header {
   
    width: 1450px;
}
.topside-header {
    background: #f2f2f2;
    height: 40px;
}
.header .call {
    display: inline-block;
    padding-left: 80px;
    margin: 15px 0;
   
}
.fa fa-instagram{
    font-family: 'fontawesomeregular';
}
.header .call a {
    display: table;
    text-decoration: none;
    vertical-align: middle;
    color: black;
    font-size: 11px;
    font-family: latoregular, sans-serif;
}
.header .call a i{
    margin-right: 20px;
}
.user-menu {
    float:right;
    padding-right: 45px;
    margin: 12px 0;
    
     
    
}
.user-menu li {
    display: inline;
    border-right: 1px solid black;
    padding: 0 35px;
}
.user-menu li:last-child {
    border-right: none;
}
.user-menu li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-family: 'latoregular', sans-serif;
}
.bottomside-header {
    vertical-align: middle;
    width: 1450px;
    border-bottom: 1px solid black; /*удалить*/
    padding: 0;
    margin:0;
    
}
.main-menu {
    float: left;
    display: table;
    
    width: 400px;
    padding-left: 80px;
    margin: 49px 0 70px 0 ;
    margin-right: 0;
    
}
.main-menu li {
    list-style: none;
    display: inline;
    padding-right: 30px;
    
}
.main-menu li a {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}
.title {
    float: left;
    font-family: 'krinkes_decor_personal_useRg';
    font-size: 60px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 0;
    margin-top: 35px;
    
}
.social {
    float: left;
    
    
    list-style: none;
    display: inline-block;
    margin: 45px 0 0 200px;
    width: 200px;
    
    
}
.social li {
    display: inline-block;
    border: 2px solid #ccb27c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 7px;
   
}
.social li a{
    color: #ccb27c;
}
.currency {
    float: right;
}
